
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/Solution.VC.db
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/b0cb8499fce26efe/MEMORY.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/151ea71f7edc3709/LAUNCHER.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/Browse.VC.db
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/.suo
SOCOM LAUNCHER/bin/SOCOMLauncher_dbg.pdb
SOCOM LAUNCHER/bin/SOCOMLauncher_dbg.exe
SOCOM LAUNCHER/bin/sca_dbg.pdb
SOCOM LAUNCHER/bin/sca_dbg.dll
SOCOM LAUNCHER/bin/s3_dbg.pdb
SOCOM LAUNCHER/bin/s3_dbg.dll
SOCOM LAUNCHER/bin/s2_dbg.pdb
SOCOM LAUNCHER/bin/s2_dbg.dll
SOCOM LAUNCHER/bin/s1_dbg.pdb
SOCOM LAUNCHER/bin/s1_dbg.dll
SOCOM LAUNCHER/Launcher/.vs/SOCOM_LAUNCHER/v16/.suo
SOCOM LAUNCHER/Launcher/.vs/SOCOM_LAUNCHER/v16/Browse.VC.db
SOCOM LAUNCHER/Launcher/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/2142fe01002b3577/IMGUI_IMPL_DX11.ipch
SOCOM LAUNCHER/Launcher/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/48f91af220d38b2f/INJECTOR.ipch
SOCOM LAUNCHER/Launcher/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/724dd938676b0553/SOCOM_LAUNCHER.ipch
SOCOM LAUNCHER/Launcher/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/f7aaa32c6bd6dfce/IMGUI_IMPL_WIN32.ipch
SOCOM LAUNCHER/Launcher/.vs/SOCOM_LAUNCHER/v16/Solution.VC.db
SOCOM LAUNCHER/Launcher/x64/Debug/Console.obj
SOCOM LAUNCHER/Launcher/x64/Debug/DXWindow.obj
SOCOM LAUNCHER/Launcher/x64/Debug/imgui.obj
SOCOM LAUNCHER/Launcher/x64/Debug/imgui_demo.obj
SOCOM LAUNCHER/Launcher/x64/Debug/imgui_draw.obj
SOCOM LAUNCHER/Launcher/x64/Debug/imgui_impl_dx11.obj
SOCOM LAUNCHER/Launcher/x64/Debug/imgui_impl_win32.obj
SOCOM LAUNCHER/Launcher/x64/Debug/imgui_tables.obj
SOCOM LAUNCHER/Launcher/x64/Debug/imgui_widgets.obj
SOCOM LAUNCHER/Launcher/x64/Debug/Injector.obj
SOCOM LAUNCHER/Launcher/x64/Debug/Launcher.obj
SOCOM LAUNCHER/Launcher/x64/Debug/Memory.obj
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOM_LAUNCHER.exe.recipe
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOM_LAUNCHER.ilk
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOM_LAUNCHER.log
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOM_LAUNCHER.obj
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOM_LAUNCHER.pdb
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOM_LAUNCHER.tlog/CL.command.1.tlog
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOM_LAUNCHER.tlog/CL.read.1.tlog
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOM_LAUNCHER.tlog/CL.write.1.tlog
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOM_LAUNCHER.tlog/link.command.1.tlog
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOM_LAUNCHER.tlog/link.read.1.tlog
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOM_LAUNCHER.tlog/link.write.1.tlog
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOM_LAUNCHER.tlog/rc.command.1.tlog
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOM_LAUNCHER.tlog/rc.read.1.tlog
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOM_LAUNCHER.tlog/rc.write.1.tlog
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOM_LAUNCHER.tlog/SOCOM_LAUNCHER.lastbuildstate
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOM_LAUNCHER.vcxproj.FileListAbsolute.txt
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOM_LAUNCHER1.res
SOCOM LAUNCHER/Launcher/x64/Debug/SOCOMLauncher.exe.recipe
SOCOM LAUNCHER/Launcher/x64/Debug/vc142.idb
SOCOM LAUNCHER/Launcher/x64/Debug/vc142.pdb
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/buffer.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/Console.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/D3D11Window.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/dllmain.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/Game.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/hde32.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/hde64.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/hook.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/Hooking.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/imgui.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/imgui_demo.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/imgui_draw.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/imgui_impl_dx11.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/imgui_impl_win32.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/imgui_tables.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/imgui_widgets.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/Menu.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/OG_SOCOM_INTERNAL.log
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/s1_dbg.dll.recipe
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/s1_dbg.ilk
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/SOCOM.tlog/CL.command.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/SOCOM.tlog/CL.read.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/SOCOM.tlog/CL.write.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/SOCOM.tlog/link.command.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/SOCOM.tlog/link.read.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/SOCOM.tlog/link.write.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/SOCOM.tlog/SOCOM.lastbuildstate
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/trampoline.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/vc142.idb
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/vc142.pdb
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/buffer.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/Console.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/D3D11Renderer.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/dllmain.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/Game.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/GameData.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/hde32.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/hde64.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/hook.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/Hooking.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/imgui.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/imgui_demo.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/imgui_draw.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/imgui_impl_dx11.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/imgui_impl_win32.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/imgui_tables.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/imgui_widgets.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/INTERNAL-SOCOM.log
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/Menu.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/s2_dbg.dll.recipe
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/s2_dbg.ilk
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/SOCOM_2.tlog/CL.command.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/SOCOM_2.tlog/CL.read.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/SOCOM_2.tlog/CL.write.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/SOCOM_2.tlog/link.command.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/SOCOM_2.tlog/link.read.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/SOCOM_2.tlog/link.write.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/SOCOM_2.tlog/SOCOM_2.lastbuildstate
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/trampoline.obj
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/vc142.idb
SOCOM LAUNCHER/MENUS/SOCOM_2/x64/Debug/vc142.pdb
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/buffer.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/Console.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/D3D11Window.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/dllmain.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/Game.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/hde32.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/hde64.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/hook.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/Hooking.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/imgui.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/imgui_demo.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/imgui_draw.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/imgui_impl_dx11.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/imgui_impl_win32.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/imgui_tables.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/imgui_widgets.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/Menu.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/s3_dbg.dll.recipe
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/s3_dbg.ilk
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/SOCOM_3.tlog/CL.command.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/SOCOM_3.tlog/CL.read.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/SOCOM_3.tlog/CL.write.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/SOCOM_3.tlog/link.command.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/SOCOM_3.tlog/link.read.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/SOCOM_3.tlog/link.write.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/SOCOM_3.tlog/SOCOM_3.lastbuildstate
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/SOCOM_3_INTERNAL.log
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/trampoline.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/vc142.idb
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/vc142.pdb
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/buffer.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/Console.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/D3D11Window.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/dllmain.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/Game.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/hde32.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/hde64.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/hook.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/Hooking.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/imgui.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/imgui_demo.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/imgui_draw.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/imgui_impl_dx11.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/imgui_impl_win32.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/imgui_tables.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/imgui_widgets.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/Menu.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/sca_dbg.dll.recipe
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/sca_dbg.ilk
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/SOCOM_CA.tlog/CL.command.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/SOCOM_CA.tlog/CL.read.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/SOCOM_CA.tlog/CL.write.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/SOCOM_CA.tlog/link.command.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/SOCOM_CA.tlog/link.read.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/SOCOM_CA.tlog/link.write.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/SOCOM_CA.tlog/SOCOM_CA.lastbuildstate
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/SOCOM_CA_INTERNAL.log
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/trampoline.obj
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/vc142.idb
SOCOM LAUNCHER/MENUS/SOCOM_CA/x64/Debug/vc142.pdb
SOCOM LAUNCHER/x64/Debug/Console.obj
SOCOM LAUNCHER/x64/Debug/DXWindow.obj
SOCOM LAUNCHER/x64/Debug/imgui.obj
SOCOM LAUNCHER/x64/Debug/imgui_demo.obj
SOCOM LAUNCHER/x64/Debug/imgui_draw.obj
SOCOM LAUNCHER/x64/Debug/imgui_impl_dx11.obj
SOCOM LAUNCHER/x64/Debug/imgui_impl_win32.obj
SOCOM LAUNCHER/x64/Debug/imgui_tables.obj
SOCOM LAUNCHER/x64/Debug/imgui_widgets.obj
SOCOM LAUNCHER/x64/Debug/Injector.obj
SOCOM LAUNCHER/x64/Debug/Launcher.obj
SOCOM LAUNCHER/x64/Debug/Memory.obj
SOCOM LAUNCHER/x64/Debug/SOCOM_LAUNCHER.log
SOCOM LAUNCHER/x64/Debug/SOCOM_LAUNCHER.obj
SOCOM LAUNCHER/x64/Debug/SOCOM_LAUNCHER.res
SOCOM LAUNCHER/x64/Debug/SOCOM_LAUNCHER.tlog/CL.command.1.tlog
SOCOM LAUNCHER/x64/Debug/SOCOM_LAUNCHER.tlog/CL.read.1.tlog
SOCOM LAUNCHER/x64/Debug/SOCOM_LAUNCHER.tlog/CL.write.1.tlog
SOCOM LAUNCHER/x64/Debug/SOCOM_LAUNCHER.tlog/link.command.1.tlog
SOCOM LAUNCHER/x64/Debug/SOCOM_LAUNCHER.tlog/link.read.1.tlog
SOCOM LAUNCHER/x64/Debug/SOCOM_LAUNCHER.tlog/link.write.1.tlog
SOCOM LAUNCHER/x64/Debug/SOCOM_LAUNCHER.tlog/rc.command.1.tlog
SOCOM LAUNCHER/x64/Debug/SOCOM_LAUNCHER.tlog/rc.read.1.tlog
SOCOM LAUNCHER/x64/Debug/SOCOM_LAUNCHER.tlog/rc.write.1.tlog
SOCOM LAUNCHER/x64/Debug/SOCOM_LAUNCHER.tlog/SOCOM_LAUNCHER.lastbuildstate
SOCOM LAUNCHER/x64/Debug/SOCOMLauncher_dbg.exe.recipe
SOCOM LAUNCHER/x64/Debug/SOCOMLauncher_dbg.ilk
SOCOM LAUNCHER/x64/Debug/vc142.idb
SOCOM LAUNCHER/x64/Debug/vc142.pdb
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/1c769a8b1b9968e/HOOK.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/21fd9c3bdc11568f/BUFFER.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/245c100307fdf658/MENU.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/436a76e5f476d7f6/D3D11WINDOW.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/45fee8b911bf3fed/GAME.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/58743f406be0e43a/D3D11RENDERER.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/8636fae8d19be7d2/CONSOLE.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/b6c8963465c29c3a/IMGUI_WIDGETS.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/c17e1725ff4f5b30/GAMEDATA.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/d107a1caba3b6052/HOOKING.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/e490f606d7d82cf0/DLLMAIN.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/f039000f43d748ea/ENGINE.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/fabf3dc3a3d9c059/HOOKING.ipch
SOCOM LAUNCHER/bin/s1.dll
SOCOM LAUNCHER/bin/s1.pdb
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/vc142.pdb
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/trampoline.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/SOCOM.tlog/SOCOM.lastbuildstate
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/SOCOM.tlog/link.write.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/SOCOM.tlog/link.read.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/SOCOM.tlog/link.command.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/SOCOM.tlog/CL.write.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/SOCOM.tlog/CL.read.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/SOCOM.tlog/CL.command.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/s1.ipdb
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/s1.iobj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/s1.dll.recipe
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/OG_SOCOM_INTERNAL.log
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/Menu.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/imgui_widgets.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/imgui_tables.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/imgui_impl_win32.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/imgui_impl_dx11.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/imgui_draw.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/imgui_demo.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/imgui.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/Hooking.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/hook.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/hde64.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/hde32.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/Game.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/dllmain.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/D3D11Window.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/Console.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/buffer.obj
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/Browse.VC.db-shm
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/Browse.VC.db-wal
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/Browse.VC.opendb
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/5400e61383c8bc9d/CONSOLE.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/55052f5841d8213d/ENGINE.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/69600193e2f01e89/D3D11WINDOW.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/79a41cf34d00dd/IMGUI_IMPL_WIN32.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/c896ba0cf753e9f0/GAME.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/cad05fa9f83ac7f1/SOCOM1.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/d3e063398280d21d/MENU.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/dec6facf4f264925/CONSOLE.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/e6b736f494f552f1/HOOKING.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/Solution.VC.db-shm
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/Solution.VC.db-wal
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/menu.obj.enc
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/imgui_impl_win32.obj.enc
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/hooking.obj.enc
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/game.obj.enc
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/dllmain.obj.enc
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/d3d11window.obj.enc
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/console.obj.enc
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/11c172efebadf408/IMGUI_IMPL_WIN32.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/178faac5ccc802e8/MENU.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/4ebc932c3f390d94/HELPER.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/8c1fa43b7a96c98a/MENU.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/a38865244ffcb7ea/SOCOM3.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/e33c5f4ed4b9c4fb/INITIALIZE.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/f7d2de0083044217/DLLMAIN.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/134f268b822ecf2f/D3D11WINDOW.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/14d1db6f4fe4c7ab/IMGUI_IMPL_WIN32.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/315cd145c0a9bbe6/IMGUI_IMPL_WIN32.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/41b44920f98b44d1/OVERLAY.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/70411a43f5237ae6/DLLMAIN.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/7f17e16d12121ee1/DLLMAIN.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/c606043158f723c0/OVERLAY.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/d437b5d13e948c7/OVERLAY.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/f44b06b3b48bb259/DLLMAIN.ipch
SOCOM LAUNCHER/.vs/SOCOM_LAUNCHER/v16/ipch/AutoPCH/f70d308ef0e27511/IMGUI_IMPL_WIN32.ipch
SOCOM LAUNCHER/bin/s3.dll
SOCOM LAUNCHER/bin/s3.pdb
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/vc142.pdb
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/trampoline.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/SOCOM_3_INTERNAL.log
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/SOCOM_3.tlog/SOCOM_3.lastbuildstate
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/SOCOM_3.tlog/link.write.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/SOCOM_3.tlog/link.read.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/SOCOM_3.tlog/link.command.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/SOCOM_3.tlog/CL.write.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/SOCOM_3.tlog/CL.read.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/SOCOM_3.tlog/CL.command.1.tlog
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/s3.ipdb
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/s3.iobj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/s3.dll.recipe
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/Overlay.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/imgui_widgets.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/imgui_tables.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/imgui_impl_win32.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/imgui_impl_dx11.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/imgui_draw.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/imgui_demo.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/imgui.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/Hooking.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/hook.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/hde64.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/hde32.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/Game.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/dllmain.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/D3D11Window.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/Console.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Release/buffer.obj
SOCOM LAUNCHER/MENUS/SOCOM_3/x64/Debug/SOCOM_3.tlog/unsuccessfulbuild
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Release/Overlay.obj
SOCOM LAUNCHER/MENUS/SOCOM_1/x64/Debug/Overlay.obj
